.experience-section {
    padding: 2rem;
}

.experience-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.experience-item {
    border: 1px solid #46caff;
    padding: 1rem;
    border-radius: 8px;
}

.experience-date {
    font-size: 0.9rem;
    color: #46caff;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.experience-content h3 {
    margin: 0;
    font-size: 1.2rem;
}

.experience-content p {
    margin-top: 0.5rem;
    font-size: 0.95rem;
}

@media screen and (max-width: 600px) {
    .experience-section {
        padding: 1rem;
    }

    .experience-item {
        padding: 0.5rem;
    }

    .experience-content h3 {
        font-size: 0.8rem;
    }

    .experience-content p {
        font-size: 0.7rem;
    }
    
}