.lang-toggle-btn {
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: none;
}

.lang-toggle-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  padding: 6px 12px;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.lang-toggle-btn:hover {
  box-shadow: #46caff 0px 0px 10px 2px;
  transition: box-shadow 0.3s ease;
}

.lang-flag {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
}
